body {
	font-size: 30px;
	height: 50%

}

section {
    padding: 100px 0;
}



#abt {
	padding-top: 20px;

}
img {
	max-width: 50%;
     height: auto;
   vertical-align: middle;
}

#abt-content {
    font-size: 30px;
}

.timeline .timeline-body>p, .timeline .timeline-body>ul {
    margin-bottom: 0;
    font-size: 25px;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-size: 30px;
}

p {
    line-height: 1;
}

header.masthead 
.intro-text .intro-heading {
    font-size: 40px;
    font-weight: 700;
}


.skills {
    text-align: center;
    padding: 20px;
}

.col-xs-6 {
    width: 50%;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
    font-size: 20px;
}



#mainNav .navbar-brand {
    color: #FFC107;
    margin-right: 50px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    
    color: #FFC107;
}


header.masthead {
    text-align: center;
    color: #13a3e4;
}

#skills {

	text-align: center;
	padding: 20px;
	font-size: 20px;
}

#skills  img{
     max-width: 250px;
     height: 150px;
   }




#contact {
    text-align: center!important;
    padding: 50px;
}

a {
    color: #21201f;
}

.bg-dark {
    background-color: #4a8d96!important;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.intro-text .into-heading{
		height: auto;
		font-size: 1.2em;
		font-weight: 600px;
	}
}






@media screen and (min-width: 412px) and (max-width: 732px){

		#about{

			font-size: 0.80em;
		}
	}


@media (min-width: 309px) and (max-width: 713px) {
header.masthead .intro-text .intro-heading {
    font-size: 1em;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 50px;
    }
}

@media (min-width: 768px)
   
   .order-md-2;{

   }
 @media (min-width: 768px)  

   .col-md-6 {
   	max-width: 50%
   }


@media screen and (min-width: 320px){
    img {
     max-width: 50%;
     height: auto;
   }
}


@media screen and (max-width: 445px){
	.skills, #contact, #abt{

			font-size: 0.85em;
		}

		.intro-text {

			padding-bottom: 4em;

		}
}

@media (min-width: 320px) and (max-width: 568px) {

	#abt-content, .timeline .timeline-body>p, .timeline .timeline-body>ul{
		font-size: 20px;
	}
}








